<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGSuite">
    <suite-files>
        <!--    Unit tests     -->
        <suite-file path="creator/creator-suite.xml"/>
        <suite-file path="entity/entity-suite.xml"/>
        <suite-file path="log/log-suite.xml"/>
        <suite-file path="repository/repository-suite.xml"/>
        <suite-file path="repository/processor/repository_processor-suite.xml"/>
        <suite-file path="time/time-suite.xml"/>
        <suite-file path="util/util-suite.xml"/>

        <!--    Integration tests     -->
        <suite-file path="repository/repository-integration-suite.xml"/>
        <suite-file path="producer/repository/processor/producer_repository_processor-integration-suite.xml"/>
        <suite-file path="producer/repository/producer_repository-integration-suite.xml"/>
        <suite-file path="producer/time/producer_time-integration-suite.xml"/>
        <suite-file path="producer/util/producer_util-integration-suite.xml"/>
        <suite-file path="producer/entity/producer_entity-integration-suite.xml"/>
        <suite-file path="producer/creator/producer_creator-integration-suite.xml"/>
    </suite-files>
</suite>