<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGSuite">
    <suite-files>
        <!--    Begin     -->
        <suite-file path="begin.xml"/>

        <!--    Unit tests     -->
        <suite-file path="entity/entity-suite.xml"/>
        <suite-file path="log/log-suite.xml"/>
        <suite-file path="repository/repository-suite.xml"/>
        <suite-file path="time/time-suite.xml"/>
        <suite-file path="os/os-suite.xml"/>
        <suite-file path="database/database-suite.xml"/>
        <suite-file path="repository/repository-suite.xml"/>


        <!--            Integration tests     -->
<!--        <suite-file path="repository/repository-integration-suite.xml"/>-->
        <suite-file path="producer/entity/producer_entity-integration-suite.xml"/>
<!--        <suite-file path="controller/controller-suite.xml"/>-->


        <!--    End     -->
        <suite-file path="end.xml"/>
    </suite-files>
</suite>