<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGSuite">

    <suite-files>
        <suite-file path="entity/entity-suite.xml"/>
        <suite-file path="log/log-suite.xml"/>
        <suite-file path="repository/repository-suite.xml"/>
        <suite-file path="repository/processor/repository_processor-suite.xml"/>
        <suite-file path="creator/creator-suite.xml"/>
    </suite-files>

</suite>
